@charset "UTF-8";
header {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  justify-content: space-evenly;
  background-color: #00395a;
  position: sticky;
  z-index: 1000;
  align-items: center;
  padding: 0 1rem; }
  header a {
    color: #fff;
    padding-left: 2rem;
    transition: color 0.3s ease; }
    header a:hover {
      color: #c41718; }
  header ul {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0; }
    header ul li {
      position: relative; }
      header ul li:hover ul {
        display: block;
        background-color: #00395a;
        text-align: center;
        min-width: 21.5rem;
        position: absolute;
        top: 100%;
        left: 0; }
    header ul > li {
      margin-right: 1rem; }
    header ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      padding: 0;
      margin: 0;
      min-width: 100%; }

.logo {
  height: 6vh;
  vertical-align: middle; }

.barra {
  background-color: #c41718;
  padding: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .barra__redes a {
    color: #fff;
    font-size: 25px;
    margin: 0 10px; }
    .barra__redes a:hover {
      color: #00395a; }
  .barra__texto {
    color: white; }

.footer {
  background-color: #00395a;
  color: #fff;
  padding: 20px; }
  .footer__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 18rem 0.5rem 13rem;
    border-bottom: 1px solid #fff; }
  .footer__logo {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .footer__logo img {
      height: 6vh; }
  .footer__social {
    display: flex;
    justify-content: center; }
    .footer__social a {
      color: #fff;
      margin: 0 10px;
      font-size: 27px; }
      .footer__social a:hover {
        color: #c41718; }
  .footer__links {
    display: flex;
    justify-content: space-around;
    padding: 20px 0; }
  .footer__section h4 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold; }
  .footer__section span {
    display: flex;
    text-decoration: none;
    font-size: 14px; }
  .footer__bottom {
    font-size: 12px;
    border-top: 1px solid #fff;
    padding-top: 10px; }
    .footer__bottom p {
      text-align: center; }

.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100; }
  .chat a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: white;
    font-size: 2.5rem; }
    .chat a:hover {
      transform: scale(1.1); }

button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 0.31rem;
  border-radius: 0.43rem;
  text-align: center;
  background-color: #00395a;
  padding: 0.5rem;
  margin-top: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  button:hover, button a:hover {
    background-color: #c41718;
    color: white; }

a::selection, button::selection, img::selection, span::selection, p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: #9fd7f5;
  color: black; }

.button__ambulancia {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .button__ambulancia button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #00395add;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; }
    .button__ambulancia button:hover {
      background-color: #c41718;
      transform: scale(1.1);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      color: #fff; }

/*inicio*/
.slider {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden; }
  .slider .slides {
    position: relative;
    width: 100%;
    height: 100%; }
    .slider .slides .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slider .slides .slide.active {
        opacity: 1; }
      .slider .slides .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .slider .slides .slide .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); }
      .slider .slides .slide .content {
        position: absolute;
        text-align: center;
        color: #fff;
        margin: 0rem 15rem 0rem 15rem; }
        .slider .slides .slide .content h3 {
          font-size: 1.4rem; }
  .slider .navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; }
    .slider .navigation .dot {
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s; }
      .slider .navigation .dot.active {
        background-color: #00395a; }

/*Pag servicios*/
.separador {
  width: 100%;
  background: linear-gradient(145deg, #d3d3d3, #c5c5c5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0; }
  .separador__text {
    color: #00395a;
    transition: font-size 0.3s ease-in-out;
    padding: 0;
    margin: 0; }
    .separador__text:hover {
      font-size: 2.3rem; }

/*Todas las páginas*/
.banner {
  width: 100%;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; }
  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .banner__content {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 5rem; }
  .banner__title {
    font-size: 3rem;
    margin: 0; }
  .banner__subtitle {
    font-size: 1.5rem;
    margin: 10px 0 0; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  line-height: 1.62;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal; }

a {
  text-decoration: none; }

p:last-of-type {
  margin-bottom: 0; }

li {
  list-style-type: none;
  padding: 0.5rem;
  position: relative;
  font-size: 0.87rem; }

.italic {
  font-style: italic; }

.section {
  justify-content: center;
  padding-top: 0.31rem; }
  .section__container {
    margin: 2rem 15rem 8rem 15rem; }
  .section__cuadros {
    margin: 2rem 8rem 10rem 8rem; }

.center {
  align-items: center;
  text-align: center;
  justify-content: center; }

/*Pag inicio*/
.intro {
  margin: 2rem 15rem 0 15rem; }
  .intro img {
    padding-bottom: 2rem;
    height: 12vh; }

/*Pag inicio - Misión, Visión, Valores*/
.mvv {
  display: flex;
  justify-content: space-around; }
  .mvv__card {
    padding: 1.5rem;
    border-radius: 3.5px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    background-size: cover;
    background-position: center;
    filter: brightness(1); }
    .mvv__card:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(158, 180, 198, 0.164), rgba(148, 153, 159, 0.373));
      border-radius: 3.5px;
      z-index: 1; }
    .mvv__card:hover {
      transform: scale(1.05);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); }
    .mvv__card h3, .mvv__card p {
      z-index: 2;
      color: black;
      background-color: #ffffffd1;
      border-radius: 3.5px; }
    .mvv__card--mision {
      background-image: url("../recursos/img/medical1.jpeg"); }
    .mvv__card--vision {
      background-image: url("../recursos/img/medical9.jpg"); }
    .mvv__card--valores {
      background-image: url("../recursos/img/pexels-karolina-grabowska-4021779.jpg"); }

/*Pag inicio - servicios*/
.servicios__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "servicios__uno servicios__dos servicios__tres servicios__cuatro servicios__cinco" "servicios__seis servicios__siete servicios__ocho servicios__nueve servicios__diez";
  gap: 1rem; }

.servicios__uno {
  grid-area: servicios__uno;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical1.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__uno:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical1.jpeg);
    transform: scale(1.1); }

.servicios__dos {
  grid-area: servicios__dos;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical2.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__dos:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical2.jpeg);
    transform: scale(1.1); }

.servicios__tres {
  grid-area: servicios__tres;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical3.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__tres:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical3.jpeg);
    transform: scale(1.1); }

.servicios__cuatro {
  grid-area: servicios__cuatro;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical4.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__cuatro:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical4.jpg);
    transform: scale(1.1); }

.servicios__cinco {
  grid-area: servicios__cinco;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical5.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__cinco:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical5.jpeg);
    transform: scale(1.1); }

.servicios__seis {
  grid-area: servicios__seis;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical6.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__seis:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical6.jpeg);
    transform: scale(1.1); }

.servicios__siete {
  grid-area: servicios__siete;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical7.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__siete:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical7.jpeg);
    transform: scale(1.1); }

.servicios__ocho {
  grid-area: servicios__ocho;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical8.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__ocho:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical8.jpeg);
    transform: scale(1.1); }

.servicios__nueve {
  grid-area: servicios__nueve;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/medical9.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__nueve:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/medical9.jpg);
    transform: scale(1.1); }

.servicios__diez {
  grid-area: servicios__diez;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url(../recursos/img/pexels-zakir-rushanly-11748826.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  border: 1px solid #9fd7f5;
  height: 14rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  padding: 1rem; }
  .servicios__diez:hover {
    background-image: linear-gradient(to right, rgba(158, 169, 198, 0), rgba(148, 153, 159, 0)), url(../recursos/img/pexels-zakir-rushanly-11748826.jpg);
    transform: scale(1.1); }

.servicios__button {
  display: inline-block; }
  .servicios__button button {
    background: #00395ae0;
    padding: 0.60rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s; }
    .servicios__button button:hover {
      background: #c41717de;
      transform: scale(1.05); }

/*Pag Nosotros*/
.especialistas {
  margin: 2.5rem 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #00395a;
  color: #fff; }
  .especialistas__titulo {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem; }
  .especialistas__lista {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start; }
  .especialistas__item {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    text-align: start; }
    .especialistas__item:hover {
      transform: translateY(-3px);
      cursor: pointer; }
  .especialistas__icon {
    font-size: 1.5rem;
    color: #008ad1;
    margin-right: 10px;
    transition: color 0.3s ease; }
    .especialistas__icon:hover {
      color: #c41718; }

/*Slider de imagenes en Nosotros*/
.fotos {
  display: flex;
  width: 100%;
  height: 450px; }
  .fotos img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
    .fotos img:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%); }

/*Pag Nosotros*/
.equipo {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: unset;
  padding-top: 2rem; }
  .equipo__contenido {
    flex: 0 0 50%;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    position: relative;
    z-index: 1;
    background-color: #fff; }
  .equipo__titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold; }
  .equipo__texto {
    margin-bottom: 2rem; }
  .equipo__imagen {
    flex: 0 0 50%;
    margin-top: 2rem;
    left: auto;
    right: 9%;
    margin-left: unset;
    position: relative;
    min-width: 50%; }
    .equipo__imagen img {
      width: 100%;
      max-height: 20rem;
      border-radius: 8px; }
  .equipo .invertido {
    flex-direction: row-reverse; }
    .equipo .invertido__contenido {
      text-align: left;
      margin-top: 2rem;
      right: 9%; }
    .equipo .invertido__imagen {
      margin: 0;
      left: 0;
      right: auto; }
      .equipo .invertido__imagen img {
        max-height: 25rem; }

/*Pag Servicio 1*/
.urgencias {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px; }
  .urgencias__span {
    max-width: 54%;
    padding: 1rem;
    font-size: 1.1em;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center; }
    .urgencias__span strong {
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase; }
    .urgencias__span:hover {
      transform: scale(1.02);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }
  .urgencias__codigos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 2rem; }
    .urgencias__codigos .codigo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .urgencias__codigos .codigo i {
        font-size: 2rem; }
      .urgencias__codigos .codigo:hover {
        transform: scale(1.3); }
    .urgencias__codigos .codigo-rojo {
      color: #c41718; }
    .urgencias__codigos .codigo-amarillo {
      color: yellow; }
    .urgencias__codigos .codigo-verde {
      color: green; }

/*Pag Servicio 2*/
.guardia {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem; }
  .guardia__imagen {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; }
    .guardia__imagen:hover {
      transform: scale(1.05); }
  .guardia__caption {
    margin-top: 10px;
    text-align: center;
    color: #00395a; }

/*Pag Servicio 3*/
.translados__item {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  .translados__item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }

.translados dt {
  font-size: 1.30rem;
  color: #008ad1;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .translados dt i {
    margin-right: 0.5rem; }

.translados dd {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0; }

/*Pag Servicio 4*/
.protegida {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; }
  .protegida__fila {
    width: 100%; }
    .protegida__fila p {
      text-align: start; }
  .protegida__imagen {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

/*Pag Servicio 6*/
.health-services p {
  text-align: center;
  margin-bottom: 20px;
  color: #00395a; }

.health-services .service-item {
  margin-bottom: 1rem; }
  .health-services .service-item dt {
    cursor: pointer;
    padding: 1rem;
    background-color: #008ad1;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    transition: background-color 0.3s ease; }
    .health-services .service-item dt:hover {
      background-color: #c41718; }
    .health-services .service-item dt .icon {
      font-size: 1.2em;
      transition: transform 0.3s ease;
      align-items: center;
      justify-content: center;
      padding-left: 1rem; }
  .health-services .service-item dd {
    padding: 1rem;
    margin-top: 0.5rem;
    display: none; }
  .health-services .service-item.active dt .icon {
    transform: rotate(-180deg); }
  .health-services .service-item.active dd {
    display: block; }

/*Pag Servicio 7*/
.internacion p {
  margin-bottom: 1.5rem; }

.internacion h2 {
  font-size: 1.30rem;
  color: #008ad1;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; }
  .internacion h2 i {
    margin-right: 0.5rem; }

.internacion ul {
  list-style: none;
  padding: 0; }
  .internacion ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center; }
    .internacion ul li i {
      color: #00395a;
      margin-right: 0.5rem; }

.internacion__objectives, .internacion__services {
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  .internacion__objectives:hover, .internacion__services:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }

.internacion__services ul li {
  display: flex;
  align-items: center; }
  .internacion__services ul li i {
    color: #00395a; }

/*Pag Servicio 8*/
.hogar {
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  .hogar:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }
  .hogar dt {
    font-size: 1.3rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #008ad1; }
    .hogar dt i {
      margin-right: 10px;
      font-size: 1.4rem; }
  .hogar dd {
    margin-left: 30px;
    font-size: 1rem;
    line-height: 1.6; }
  .hogar ol, .hogar ul {
    margin-left: 30px;
    padding-left: 20px;
    list-style: none; }
    .hogar ol li, .hogar ul li {
      margin-bottom: 10px;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      align-items: center; }
      .hogar ol li i, .hogar ul li i {
        margin-right: 10px;
        color: #00395a; }
  .hogar ol {
    list-style-type: decimal; }

/*Pag Servicio 10*/
.capacitaciones {
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  .capacitaciones:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }
  .capacitaciones p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.6; }
  .capacitaciones .curso-lista {
    margin-left: 1.5rem;
    padding-left: 1rem;
    list-style: none; }
    .capacitaciones .curso-lista li {
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.5;
      align-items: center; }
      .capacitaciones .curso-lista li i {
        margin-right: 10px;
        color: #008ad1; }
  .capacitaciones .certificacion-detalles {
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding-left: 1rem;
    list-style: none; }
    .capacitaciones .certificacion-detalles li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      line-height: 1.5;
      align-items: center; }
      .capacitaciones .certificacion-detalles li i {
        margin-right: 0;
        margin-bottom: 0.5rem;
        color: #00395a; }

/*Pag Contacto*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .contact__form {
    flex: 1;
    max-width: 50%;
    padding-right: 2rem; }
    .contact__form form {
      display: flex;
      flex-direction: column; }
      .contact__form form .contact__field {
        margin-bottom: 1rem; }
        .contact__form form .contact__field input, .contact__form form .contact__field textarea {
          width: 100%;
          padding: 0.75rem;
          border-radius: 3px;
          border: 1px solid #00395a;
          font-size: 1rem;
          color: #00395a;
          box-sizing: border-box; }
        .contact__form form .contact__field textarea {
          resize: none; }
      .contact__form form .contact__submit {
        padding: 0.75rem 1.5rem;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out; }
        .contact__form form .contact__submit:hover {
          background-color: #0056b3; }
  .contact__info {
    display: flex;
    flex-direction: column; }
    .contact__info .contact__logo {
      max-width: 150px;
      margin-bottom: 1rem; }
    .contact__info h2 {
      margin-bottom: 1rem; }
    .contact__info ul {
      list-style: none;
      padding: 0; }
      .contact__info ul li {
        margin-bottom: 0.5rem;
        font-size: 1rem; }
        .contact__info ul li i {
          margin-right: 0.5rem;
          color: #008ad1; }

/* PC grande*/
/*Tablets, laptops (pantallas medianas)*/
@media (min-width: 755px) and (max-width: 1024px) {
  .section__container {
    margin: 2rem 3rem 8rem 3rem; }
  .section__cuadros {
    margin: 2rem 1rem 5rem 1rem; }
  .intro {
    margin: 2rem 0; }
    .intro img {
      padding-bottom: 0rem;
      height: 16vh; }
  .servicios__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "servicios__uno servicios__dos servicios__tres" "servicios__cuatro servicios__cinco servicios__seis" "servicios__siete servicios__ocho servicios__nueve" "servicios__diez servicios__diez servicios__diez"; }
  .especialistas__lista {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
  .equipo__titulo {
    font-size: 1.5rem;
    margin-bottom: 0; }
  .equipo__imagen {
    right: 4%;
    margin-top: 0;
    min-width: 58%; }
  .urgencias__span {
    font-size: 0.8rem;
    padding: 0.2rem; }
  .urgencias__codigos {
    gap: 15px;
    margin: 1rem; }
  .guardia__imagen {
    max-height: 200px; }
  .translados__item {
    padding: 0.8rem; }
  .translados dt {
    font-size: 1.1rem; }
  .translados dd {
    font-size: 0.9rem; }
  .protegida {
    flex-direction: column;
    gap: 1rem; }
  .protegida__imagen {
    max-width: 100%; }
  .health-services p {
    font-size: 1rem; }
  .health-services .service-item dt {
    font-size: 0.9rem; }
  .internacion h2 {
    font-size: 1.2rem; }
  .internacion ul li {
    font-size: 0.9rem; }
  .hogar {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    .hogar dt {
      font-size: 1rem; }
      .hogar dt i {
        font-size: 1rem; }
    .hogar dd {
      margin-left: 10px;
      font-size: 0.8rem; }
    .hogar ul, .hogar ol {
      margin-left: 10px;
      padding-left: 10px; }
  .capacitaciones {
    padding: 1rem; }
    .capacitaciones p {
      font-size: 0.8rem; }
    .capacitaciones .curso-lista, .capacitaciones .certificacion-detalles {
      margin-left: 0.5rem;
      padding-left: 0.5rem; }
    .capacitaciones .curso-lista li, .capacitaciones .certificacion-detalles li {
      font-size: 0.8rem; }
  .contact {
    padding: 1rem; }
    .contact__form {
      max-width: 100%;
      padding-right: 1rem; }
    .contact__info {
      padding-top: 1rem;
      align-items: center;
      text-align: center;
      justify-content: center; }
  header {
    justify-content: center; }
  .navbar-nav {
    flex-direction: row; }
  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 17rem; }
  .container-fluid button {
    display: none; }
  .collapse:not(.show) {
    display: flex; }
  .logo {
    margin-bottom: 0.5rem; }
  .barra__redes a {
    font-size: 1.4rem;
    margin: 0 5px; }
  .barra__texto {
    font-size: 1.2rem; }
  .footer__top {
    padding: 0 1rem;
    flex-direction: column;
    align-items: center; }
  .footer__logo {
    margin-bottom: 1rem; }
  .footer__social {
    margin-bottom: 1rem; }
    .footer__social a {
      font-size: 20px;
      margin: 0 5px; }
  .footer__section h4 {
    font-size: 11px;
    text-align: center; }
  .footer__section span {
    font-size: 11px;
    text-align: center;
    justify-content: center; }
  .footer__bottom {
    font-size: 10px; }
  .chat {
    width: 45px;
    height: 45px; }
  button {
    padding: 0.3rem 0.6rem; }
  .button__ambulancia button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem; }
  .slider {
    width: 100%;
    height: 40vh; }
    .slider .slides .slide .content {
      margin: 0 2rem 0 2rem; }
      .slider .slides .slide .content h3 {
        font-size: 1.3rem; }
  .banner {
    width: 100%;
    height: 40vh; }
    .banner__title {
      font-size: 1.8rem; }
    .banner__subtitle {
      font-size: 1.1rem; } }

@media only screen and (max-width: 754px) {
  body {
    line-height: 1.6;
    text-align: left; }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400; }
  li {
    font-size: 0.75rem; }
  .section__container {
    margin: 2rem 2rem 8rem 2rem; }
  .section__cuadros {
    margin: 2rem 2rem 5rem 2rem; }
  .intro {
    margin-bottom: 0; }
    .intro img {
      height: 9vh; }
  .mvv {
    flex-direction: column;
    align-items: center; }
    .mvv__card {
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 1rem;
      border-radius: 3px; }
  .servicios__container {
    grid-template-columns: 1fr;
    grid-template-areas: "servicios__uno" "servicios__dos" "servicios__tres" "servicios__cuatro" "servicios__cinco" "servicios__seis" "servicios__siete" "servicios__ocho" "servicios__nueve" "servicios__diez";
    gap: 0.8rem; }
  .servicios__uno, .servicios__dos, .servicios__tres, .servicios__cuatro, .servicios__cinco, .servicios__seis, .servicios__siete, .servicios__ocho, .servicios__nueve, .servicios__diez {
    height: 16rem;
    width: 100%; }
    .servicios__uno:hover, .servicios__dos:hover, .servicios__tres:hover, .servicios__cuatro:hover, .servicios__cinco:hover, .servicios__seis:hover, .servicios__siete:hover, .servicios__ocho:hover, .servicios__nueve:hover, .servicios__diez:hover {
      transform: scale(1); }
  .servicios__button button {
    padding: 0.5rem; }
  .titilo__especialistas {
    font-size: 1.3rem; }
  .especialistas__titulo {
    font-size: 1.2rem; }
  .especialistas__lista {
    grid-template-columns: 1fr;
    gap: 10px; }
  .fotos {
    width: 100%; }
  .equipo {
    flex-direction: column-reverse; }
    .equipo__titulo {
      font-size: 1.5rem; }
    .equipo__imagen {
      position: relative;
      right: 4%;
      margin-top: 0; }
  .invertido__contenido, .invertido__imagen {
    left: 2%; }
  .urgencias__span {
    font-size: 0.8rem;
    padding: 0.2rem; }
  .urgencias__codigos {
    gap: 15px;
    margin: 1rem; }
  .guardia__imagen {
    max-height: 200px; }
  .translados__item {
    padding: 0.8rem; }
  .translados dt {
    font-size: 1.1rem; }
  .translados dd {
    font-size: 0.9rem; }
  .protegida {
    flex-direction: column;
    gap: 1rem; }
  .protegida__imagen {
    max-width: 100%; }
  .health-services p {
    font-size: 1rem; }
  .health-services .service-item dt {
    font-size: 0.9rem; }
  .internacion h2 {
    font-size: 1.2rem; }
  .internacion ul li {
    font-size: 0.9rem; }
  .hogar {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    .hogar dt {
      font-size: 1rem; }
      .hogar dt i {
        font-size: 1rem; }
    .hogar dd {
      margin-left: 10px;
      font-size: 0.8rem; }
    .hogar ul, .hogar ol {
      margin-left: 10px;
      padding-left: 10px; }
  .capacitaciones {
    padding: 1rem; }
    .capacitaciones p {
      font-size: 0.8rem; }
    .capacitaciones .curso-lista, .capacitaciones .certificacion-detalles {
      margin-left: 0.5rem;
      padding-left: 0.5rem; }
    .capacitaciones .curso-lista li, .capacitaciones .certificacion-detalles li {
      font-size: 0.8rem; }
  .contact {
    padding: 1rem;
    display: block; }
    .contact__form {
      max-width: 100%;
      padding: 0; }
    .contact__info {
      padding-top: 1.8rem; }
      .contact__info .contact__logo {
        display: none; }
      .contact__info h2 {
        display: none; }
      .contact__info ul {
        padding: 0; }
      .contact__info li {
        font-size: 0.8rem; }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00395a;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navbar-toggler {
    z-index: 1100;
    background-color: #008ad1; }
  button.navbar-toggler:hover {
    background-color: #008ad1;
    color: #00395a; }
  .dropdown-menu {
    display: contents; }
  .dropdown-toggle::after {
    display: none; }
  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none; }
  .nav-item a {
    font-size: 1.1rem;
    color: #fff; }
  header ul li:hover ul {
    text-align: start; }
  .logo {
    height: 4vh; }
  .barra__redes a {
    font-size: 1.4rem;
    margin: 0 5px; }
  .barra__texto {
    font-size: 1.2rem; }
  .footer__top {
    padding: 0 1rem;
    flex-direction: column;
    align-items: center; }
  .footer__logo {
    margin-bottom: 1rem; }
  .footer__social {
    margin-bottom: 1rem; }
    .footer__social a {
      font-size: 20px;
      margin: 0 5px; }
  .footer__section h4 {
    font-size: 11px;
    text-align: center; }
  .footer__section span {
    font-size: 11px;
    text-align: center;
    justify-content: center; }
  .footer__bottom {
    font-size: 10px; }
  .chat {
    width: 45px;
    height: 45px; }
  button {
    padding: 0.3rem 0.6rem; }
  .button__ambulancia button {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem; }
  .slider {
    width: 100%;
    height: 40vh; }
    .slider .slides .slide .content {
      margin: 0 2rem 0 2rem; }
      .slider .slides .slide .content h3 {
        font-size: 1.3rem; }
  .banner {
    width: 100%;
    height: 40vh; }
    .banner__title {
      font-size: 1.8rem; }
    .banner__subtitle {
      font-size: 1.1rem; } }

@media print {
  p, h1, h2, h3, h4, h5, h6 {
    color: black;
    background-color: white; } }
