@charset "UTF-8";
header {
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  justify-content: space-around;
  background-color: #cdcdcd;
  position: sticky;
  z-index: 1000; }
  header a {
    color: #c41718; }
    header a:hover {
      color: #00395a; }
  header ul {
    list-style: none;
    font-size: 0;
    align-items: center; }
    header ul li:hover ul {
      display: block;
      background-color: #cdcdcd;
      text-align: center;
      min-width: 21.5rem; }

.barra {
  background-color: #00395a;
  max-height: 2.5rem; }
  .barra__top {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .barra__redes {
    display: flex; }
  .barra__texto {
    color: white; }

.logo {
  height: 8vh; }

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #cdcdcd;
  align-items: center;
  color: #00395a; }
  .footer__contenido {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 1rem; }
  .footer span {
    padding: 0.5rem; }
  .footer__redes {
    display: flex; }

.chat {
  position: fixed;
  bottom: 0.62rem;
  right: 1.25rem; }

button {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 0.31rem;
  border-radius: 0.43rem;
  text-align: center;
  background-color: #00395a;
  padding: 0.5rem;
  margin-top: 0.3rem; }
  button:hover, button a:hover {
    background-color: #c41718;
    color: white; }

a::selection, button::selection, img::selection, span::selection, p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: #9fd7f5;
  color: black; }

/*inicio*/
.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; }
  .slider .slides {
    position: relative;
    width: 100%;
    height: 100%; }
    .slider .slides .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slider .slides .slide.active {
        opacity: 1; }
      .slider .slides .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .slider .slides .slide .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); }
      .slider .slides .slide .content {
        position: absolute;
        text-align: center;
        color: #fff; }
        .slider .slides .slide .content h2 {
          font-size: 2.5em;
          margin-bottom: 10px; }
        .slider .slides .slide .content h3 {
          font-size: 1.5em;
          margin-bottom: 20px; }
  .slider .navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; }
    .slider .navigation .dot {
      width: 1rem;
      height: 1rem;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s; }
      .slider .navigation .dot.active {
        background-color: #00395a; }

/*Servicios*/
.separador {
  width: 100%;
  background: linear-gradient(145deg, #00395a, #008ad1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0; }
  .separador__text {
    font-size: 3rem;
    color: #fff;
    transition: font-size 0.3s ease-in-out; }
    .separador__text:hover {
      font-size: 4rem; }

/*Todas las páginas*/
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; }
  .banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .banner__content {
    position: relative;
    text-align: center;
    z-index: 1; }
  .banner__title {
    font-size: 3rem;
    margin: 0; }
  .banner__subtitle {
    font-size: 1.5rem;
    margin: 10px 0 0; }

/*Slider de imagenes en Nosotros*/
.fotos {
  display: flex;
  width: 100%;
  height: 400px; }
  .fotos img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease; }
    .fotos img:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%); }

@font-face {
  font-family: "Medical Sur";
  src: url("../tipografia/latha.ttf"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Medical Sur";
  text-align: justify;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-size: 1rem; }

a {
  text-decoration: none; }

li {
  list-style-type: none;
  padding: 0.5rem;
  position: relative;
  font-size: 0.87rem; }

.italic {
  font-style: italic; }

/**/
.section {
  justify-content: center;
  padding-top: 0.31rem; }
  .section__container {
    margin: 2rem 10rem 2rem 10rem; }

.center {
  align-items: center;
  text-align: center;
  justify-content: center; }

.intro img {
  padding-bottom: 2rem;
  width: 20rem; }

/*Misión, Visión, Valores*/
.mvv {
  display: flex;
  justify-content: space-around;
  padding: 2rem; }
  .mvv__card {
    padding: 1.5rem;
    border-radius: 3.5px;
    border: 2.5px solid #008ad1;
    text-align: center;
    width: 30%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); }
    .mvv__card:hover {
      transform: scale(1.05);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); }
    .mvv__card-logo {
      margin-bottom: 1rem; }
      .mvv__card-logo img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease-in-out; }
        .mvv__card-logo img:hover {
          transform: rotate(360deg); }

.contacto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "contacto__form contacto__container";
  align-items: center;
  gap: 1rem;
  margin: 3rem; }
  .contacto__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: contacto__form;
    gap: 0.63rem;
    padding: 1rem;
    border-radius: 0.43rem;
    background-image: #008ad1; }
  .contacto__container {
    grid-area: contacto__container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
  .contacto__datos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "contacto__img contacto__info";
    text-align: center;
    align-items: center;
    justify-items: center; }
  .contacto__img {
    grid-area: contacto__img;
    height: 20vh;
    border-radius: 1rem; }
  .contacto__info {
    grid-area: contacto__info; }

/*servicios en página de inicio */
.servicios__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "servicios__uno servicios__dos servicios__tres servicios__cuatro servicios__cinco"  "servicios__seis servicios__siete servicios__ocho servicios__nueve servicios__diez";
  gap: 1rem;
  margin: 0 4rem 0 4rem; }

.servicios__contenido {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  color: white; }

.servicios__uno {
  grid-area: servicios__uno;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img//medical1.jpeg");
  background-size: cover;
  border-radius: 8px;
  border: 1px solid #9fd7f5;
  padding: 20px;
  transition: background 0.3s, transform 0.3s; }

.servicios__dos {
  grid-area: servicios__dos;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/medical2.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__tres {
  grid-area: servicios__tres;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/medical7.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__cuatro {
  grid-area: servicios__cuatro;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image0.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__cinco {
  grid-area: servicios__cinco;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image1.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__seis {
  grid-area: servicios__seis;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/medical6.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__siete {
  grid-area: servicios__siete;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image2.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__ocho {
  grid-area: servicios__ocho;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image3.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__nueve {
  grid-area: servicios__nueve;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image4.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__diez {
  grid-area: servicios__diez;
  background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image5.jpeg");
  background-size: cover;
  border-radius: 1rem;
  border: 1px solid #9fd7f5; }

.servicios__uno .servicios__dos .servicios__tres .servicios__cuatro .servicios__cinco .servicios__seis .servicios__siete .servicios__ocho .servicios__nueve .servicios__diez:hover {
  background: #e0e0e0;
  transform: scale(1.02); }

.servicios__button {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none; }

.servicios button {
  background: #00395a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s; }
  .servicios button:hover {
    background: #c41718;
    transform: scale(1.05); }

/*
// Estilos para la sección de servicios
.servicios {
    padding: 2rem; // Espaciado interno de la sección
    margin: 0 4rem 0 4rem;
  
    &__container {
      display: flex;
      flex-wrap: wrap; // Permitir que los artículos se envuelvan en la línea siguiente
      gap: 10px; // Espacio entre los artículos
    }
  
    &__item {
      flex: 1 1 calc(33.333% - 20px); // Tres columnas con espacio entre ellas
     // background: $fondo-header; // Fondo del artículo
      border: 1px solid $color-azul-terciario; // Borde del artículo
      border-radius: 8px; // Bordes redondeados
      padding: 20px; // Espaciado interno del artículo
      transition: background 0.3s, transform 0.3s; // Transiciones suaves
    }
  
    &__item:hover {
      background: #e0e0e0; // Fondo del artículo al pasar el cursor
      transform: scale(1.02); // Aumento del tamaño del artículo
    }
  
    &__contenido {
      display: flex;
      flex-direction: column;
      align-items: center; // Centrar el contenido
      text-align: center; // Centrar el texto
    }
  
    &__button {
      margin-top: 15px; // Espacio superior del botón
      display: inline-block; // Mostrar el botón en línea
      text-decoration: none; // Quitar el subrayado del enlace
    }
  
    button {
      background: $button; // Fondo del botón
      color: #fff; // Color del texto del botón
      border: none; // Sin borde
      padding: 10px 20px; // Espaciado interno del botón
      border-radius: 4px; // Bordes redondeados
      cursor: pointer; // Cursor en forma de mano
      transition: background 0.3s, transform 0.3s; // Transiciones suaves
  
      &:hover {
        background: $button-hover; // Fondo del botón al pasar el cursor
        transform: scale(1.05); // Aumento del tamaño del botón
      }
    }
  }*/
/*Pag Nosotros*/
.especialistas {
  margin: 2.5rem 0 2.5rem 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .especialistas__titulo {
    text-align: center;
    padding: 1rem; }
  .especialistas__lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: flex-start; }
  .especialistas__item {
    display: flex; }
    .especialistas__item:hover {
      transform: translateY(-3px);
      cursor: pointer; }
  .especialistas__icon {
    font-size: 1rem;
    color: #008ad1;
    margin-right: 10px;
    transition: color 0.3s ease; }
    .especialistas__icon:hover {
      color: #c41718; }

.equipo {
  padding: 20px;
  background-color: #008ad1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .equipo__container {
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .equipo__item {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; }
    .equipo__item:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

/* TABLET */
@media (min-width: 541px) and (max-width: 720px) {
  header a img {
    height: 10vh; }
  /*.img__cards{  .logos 5vh
        height: $img-cards/6;
    }*/
  .servicios__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "servicios__uno" "servicios__dos"  "servicios__tres" "servicios__cuatro"  "servicios__cinco" "servicios__seis" "servicios__siete" "servicios__ocho" "servicios__nueve" "servicios__diez"; }
  .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contactanos__form"  "contactanos__container";
    margin: 1rem; }
    .contacto__img {
      height: 10vh; }
  .error {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "error__404" "error__img";
    margin: 0 5rem 0 5rem; }
    .error__img {
      grid-area: error__img;
      height: 20rem;
      margin-left: 5rem; } }

/* celular */
@media (min-width: 320px) and (max-width: 540px) {
  header a img {
    height: 10vh; }
  footer .footer__container {
    font-size: small;
    margin: 0%;
    padding: 0%; }
    footer .footer__container .footer__redes {
      padding: 0.3rem; }
  .chat {
    bottom: 1.72rem;
    right: 0.6rem; }
  .logos {
    display: none; }
  .servicios {
    padding: 0.5rem; }
    .servicios__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "servicios__uno" "servicios__dos"  "servicios__tres" "servicios__cuatro "  "servicios__cinco" "servicios__seis" "servicios__siete" "servicios__ocho" "servicios__nueve" "servicios__diez";
      margin: 0rem; }
  .contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contactanos__form"  "contactanos__container";
    margin: 0; }
    .contacto__img {
      height: 7vh; }
  .error {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "error__404" "error__img";
    margin: 0; }
    .error__img {
      grid-area: error__img;
      height: 12rem;
      margin-left: 6rem; } }

@media print {
  p, h1, h2, h3, h4, h5, h6 {
    color: black;
    background-color: white; } }
