/*inicio*/
.slider {
    position: relative;
    width: $slider-width;
    height: $slider-height;
    overflow: hidden;

    .slides {
        position: relative;
        width: 100%;
        height: 100%;
        

        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity $transition-time ease;
            display: flex;
            justify-content: center;
            align-items: center;

            &.active {
                opacity: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $overlay-color;
            }

            .content {
                position: absolute;
                text-align: center;
                color: $text-color;
                margin: 0rem 15rem 0rem 15rem;

                h3 {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .navigation {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;

        .dot {
            width: $font-size;
            height: $font-size;
            background-color: $text-color;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;

            &.active {
                background-color: $button;
            }
        }
    }
}

/*Pag servicios*/
.separador {
    width: 100%;
    background: linear-gradient(145deg, #d3d3d3, #c5c5c5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  
    &__text {
      color: $color-azul-principal; // Color del texto
      transition: font-size 0.3s ease-in-out; // Suaviza el efecto al agrandar
      padding: 0;
      margin: 0;
      text-align: center;
  
      &:hover {
        font-size: 2.3rem; // Tamaño de la fuente al pasar el cursor
      }
    }
}

/*Todas las páginas*/
.banner {
    width: $slider-width;
    height: $slider-height; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; 
      z-index: 0; 
    }
    
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay-color; 
    }

    &__content {
      position: relative;
      text-align: center;
      z-index: 1; 
      padding: 5rem;
    }

    &__title {
      font-size: 3rem; 
      margin: 0;
    }

    &__subtitle {
      font-size: 1.5rem; 
      margin: 10px 0 0;
    }
}
