button{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 0.31rem;
    border-radius: 0.43rem;
    text-align: center;
    background-color: $button;
    padding: 0.5rem;
    margin-top: 0.3rem;
    &:hover, & a:hover{
        background-color: $button-hover;
        color: white;
    }
}

a::selection, button::selection, img::selection, span::selection, p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
    background-color: $color-azul-terciario;
    color: black;
}