button{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 0.31rem;
    border-radius: 0.43rem;
    text-align: center;
    background-color: $button;
    padding: 0.5rem;
    margin-top: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover, & a:hover{
        background-color: $button-hover;
        color: white;
    }
}

a::selection, button::selection, img::selection, span::selection, p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
    background-color: $color-azul-terciario;
    color: black;
}

.button__ambulancia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        background-color: #00395add;
        color: $text-color;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            background-color: $button-hover;
            transform: scale(1.1);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            color: $text-color;
          }
      }
}
  