.footer {
    background-color: $fondo-header;
    color: $text-color;
    padding: 20px;
    
    &__top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-rojo;
    }

    &__logo{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        img{
            height: 6vh;
        }
    }

    &__social {
        display: flex;
        justify-content: center;

        a {
            color: $text-color;
            margin: 0 10px;
            font-size: 27px;

            &:hover {
                color: $color-rojo;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    &__section {

        h4 {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: bold;
        }
        span{
            display: flex;
            text-decoration: none;
            font-size: 14px;
        }
    }

    &__bottom {
        
        font-size: 12px;
        border-top: 1px solid $text-color;
        padding-top: 10px;
        p{
            text-align: center;
        }
    }
}

.chat{
    position: fixed;
    bottom: 0.62rem;
    right: 1.25rem;
}
