.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: $fondo-header;
    align-items: center;
    color: $color-azul-principal;
    &__contenido{
        display: flex;
        flex-flow: column wrap ;
        align-items: center;
        padding: 1rem;
    }
    & span{
        padding: 0.5rem;
    }
    &__redes{
        display: flex;
    }
}

.chat{
    position: fixed;
    bottom: 0.62rem;
    right: 1.25rem;
}