header{
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    justify-content:space-evenly;
    background-color: $fondo-header;
    position: sticky;
    z-index: 1000;
    align-items: center;

    a{
        color: $color-rojo;
        padding-left: 2rem;
        &:hover{
            color: $color-azul-principal;
        }
    }
    ul{
        list-style: none;
        font-size: 0;
        & li:hover ul{
            display: block;
            background-color: $fondo-header;
            text-align: center;
            min-width: 21.5rem;
        }
    }
}

.logo{
    height: 6vh;
    vertical-align: 0;
}

.barra{
    background-color: $color-azul-principal;
    
    &__top{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__redes{
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__texto{
        color: white;
        
    }
}