/* PC grande*/
@media (min-width: 1440px) and (max-width: 1439px){

}

/*Tablets, laptops (pantallas medianas)*/
@media (min-width: 768px) and (max-width: 1430px) {
  .section__container {
  margin: 2rem 3rem 8rem 3rem;
  }
  .section__cuadros {
  margin: 2rem 1rem 5rem 1rem;
  }
  .intro{
    margin: 2rem 0;
      img{
          padding-bottom: 0rem;
          height: 16vh;
      }
  }
  .servicios__container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "servicios__uno servicios__dos servicios__tres"
    "servicios__cuatro servicios__cinco servicios__seis"
    "servicios__siete servicios__ocho servicios__nueve"
    "servicios__diez servicios__diez servicios__diez";
  } 
  .especialistas__lista {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  }
  .equipo{
    &__titulo {
      font-size: 1.5rem;
      margin-bottom: 0;
      }
      &__imagen {
      right: 4%;
      margin-top: 0;
      min-width: 58%;
      }
  } 
  .urgencias{
    &__span {
      font-size: 0.8rem;
      padding: 0.2rem;
    } 
    &__codigos {
    gap: 15px; 
    margin: 1rem; 
    } 
  }
    
  .guardia__imagen {
  max-height: 200px; // Reduce la altura máxima de la imagen
  } 
  .translados__item {
  padding: 0.8rem; // Reduce el padding en celulares
  }
  .translados dt {
  font-size: 1.1rem; // Reduce el tamaño de la fuente para celulares
  }
  .translados dd {
  font-size: 0.9rem; // Ajusta el tamaño de la fuente del texto
  }
  .protegida {
    flex-direction: column; // Cambia a columna en celulares
    gap: 1rem; // Reduce el espacio entre los elementos
  }   
  .protegida__imagen {
  max-width: 100%; // Ancho completo en celulares
  }  
  .health-services p {
  font-size: 1rem; // Tamaño de fuente ajustado
  }  
  .health-services .service-item {
  dt {
    font-size: 0.9rem; // Tamaño de fuente ajustado para detalles
  }
  }  
  .internacion h2 {
  font-size: 1.2rem; // Tamaño de fuente ajustado para títulos
  }  
  .internacion ul li {
  font-size: 0.9rem; // Tamaño de fuente ajustado para ítems de lista
  }
  .hogar {
    padding: 1rem; // Reduce aún más el padding
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    dt {
      font-size: 1rem; // Ajusta el tamaño de la fuente
      i {
        font-size: 1rem; // Ajusta el tamaño del ícono
      }
    }

    dd {
      margin-left: 10px; // Reduce el margen izquierdo
      font-size: 0.8rem; // Ajusta el tamaño de la fuente
    }

    ul, ol {
      margin-left: 10px; // Reduce el margen izquierdo
      padding-left: 10px; // Reduce el padding
    }
  }
  .capacitaciones {
  padding: 1rem; // Reduce el padding en celulares
  p {
    font-size: 0.8rem; // Ajusta el tamaño de la fuente
  }
  .curso-lista, .certificacion-detalles {
    margin-left: 0.5rem; // Reduce el margen izquierdo
    padding-left: 0.5rem; // Ajusta el padding
  }
  .curso-lista li, .certificacion-detalles li {
    font-size: 0.8rem; // Ajusta el tamaño de la fuente
  }
  }
  .contact {
    padding: 1rem; 
    &__form {
      max-width: 100%; // El formulario ocupa todo el ancho disponible
      padding-right: 1rem;
    }

    &__info {
      padding-top: 1rem;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  header{
    justify-content: center;
  }
  .navbar-nav {
    flex-direction:row;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 17rem;
}
  .container-fluid button{
    display: none;
  }
  .collapse:not(.show) {
    display: flex;
}
  .logo {
    margin-bottom: 0.5rem;
    }
  .barra__redes a {
  font-size: 1.4rem; 
  margin: 0 5px; 
  }
  .barra__texto {
  font-size: 1.2rem; 
  }
  .footer{
    &__top {
    padding: 0 1rem; 
    flex-direction: column;
    align-items: center; 
    }   
    &__logo {
    margin-bottom: 1rem; 
    }   
    &__social {
    margin-bottom: 1rem; 
    a {
      font-size: 20px; 
      margin: 0 5px; 
      }   
    }  
    &__section { 
      h4 {
        font-size: 11px; 
        text-align: center;
      }
      span {
        font-size: 11px; 
        text-align: center;
        justify-content: center;
      }
    } 
    &__bottom {
    font-size: 10px; 
    }
  }
  .chat {
  width: 45px;
  height: 45px;
  }
  button {
    padding: 0.3rem 0.6rem;
  }
  .button__ambulancia button {
  font-size: 1.2rem; // Tamaño de fuente del botón en .button__ambulancia
  padding: 0.6rem 1.2rem; // Ajusta el padding del botón en .button__ambulancia
  }
  .slider {
    width: 100%; // Ajusta el ancho del slider
    height: 40vh; // Ajusta la altura del slider

    .slides .slide .content {
      margin: 0 2rem 0 2rem; // Ajusta el margen del contenido
      h3 {
        font-size: 1.3rem; // Tamaño de fuente para pantallas pequeñas
      }
    }
  }
  .banner {
    width: 100%; // Ajusta el ancho del slider
    height: 40vh; // Ajusta la altura del slider
    &__title {
      font-size: 1.8rem; // Tamaño de fuente para pantallas pequeñas
    }
    &__subtitle {
      font-size: 1.1rem;
    }
  }
}

// Celulares (pantallas pequeñas)
@media only screen and (max-width: 767px) {
  body {
    line-height: 1.6;
    text-align: left;
  }
  h1, h2, h3, h4, h5, h6{
    font-weight: 400;
  }
  li {
  font-size: 0.75rem;
  }
  .section__container {
  margin: 2rem 2rem 8rem 2rem;
  }
  .section__cuadros {
  margin: 2rem 2rem 5rem 2rem;
  }
  .intro {
    margin-bottom: 0;
    img {
      height: 9vh;
    }
  }
  .mvv {
  flex-direction: column;
  align-items: center;

  &__card {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 3px;
  }
  }
  .servicios__container {
  grid-template-columns: 1fr;
  grid-template-areas:
    "servicios__uno"
    "servicios__dos"
    "servicios__tres"
    "servicios__cuatro"
    "servicios__cinco"
    "servicios__seis"
    "servicios__siete"
    "servicios__ocho"
    "servicios__nueve"
    "servicios__diez";
  gap: 0.8rem;
  } 
  .servicios__uno, .servicios__dos, .servicios__tres, .servicios__cuatro, .servicios__cinco, .servicios__seis, .servicios__siete, .servicios__ocho, .servicios__nueve, .servicios__diez {
  height: 16rem;
  width: 100%;
    &:hover {
      transform: scale(1);
    }
  } 
  .servicios__button button {
  padding: 0.5rem;
  }
  .titilo__especialistas{
    font-size: 1.3rem;
  }
  .especialistas__titulo {
  font-size: 1.2rem; // Reduce el tamaño del título para celulares
  } 
  .especialistas__lista {
  grid-template-columns: 1fr; // Una columna en celulares
  gap: 10px; // Reduce aún más el espacio entre los ítems
  }
  .fotos {
  width: 100%; // Ocupa el ancho completo de la pantalla al hacer hover
  }
  .equipo{
    flex-direction: column-reverse;
    &__titulo {
      font-size: 1.5rem; // Reduce el tamaño del título para celulares
      }
      &__imagen {
      position: relative;
      right: 4%;
      margin-top: 0;
      }
  } 
  .invertido {
  &__contenido, &__imagen {
    left: 2%;
  }
  }
  .urgencias{
    &__span {
      font-size: 0.8rem;
      padding: 0.2rem;
    } 
    &__codigos {
    gap: 15px; 
    margin: 1rem; 
    } 
  }
    
  .guardia__imagen {
  max-height: 200px; // Reduce la altura máxima de la imagen
  } 
  .translados__item {
  padding: 0.8rem; // Reduce el padding en celulares
  }
  .translados dt {
  font-size: 1.1rem; // Reduce el tamaño de la fuente para celulares
  }
  .translados dd {
  font-size: 0.9rem; // Ajusta el tamaño de la fuente del texto
  }
  .protegida {
    flex-direction: column; // Cambia a columna en celulares
    gap: 1rem; // Reduce el espacio entre los elementos
  }   
  .protegida__imagen {
  max-width: 100%; // Ancho completo en celulares
  }  
  .health-services p {
  font-size: 1rem; // Tamaño de fuente ajustado
  }  
  .health-services .service-item {
  dt {
    font-size: 0.9rem; // Tamaño de fuente ajustado para detalles
  }
  }  
  .internacion h2 {
  font-size: 1.2rem; // Tamaño de fuente ajustado para títulos
  }  
  .internacion ul li {
  font-size: 0.9rem; // Tamaño de fuente ajustado para ítems de lista
  }
  .hogar {
    padding: 1rem; // Reduce aún más el padding
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    dt {
      font-size: 1rem; // Ajusta el tamaño de la fuente
      i {
        font-size: 1rem; // Ajusta el tamaño del ícono
      }
    }

    dd {
      margin-left: 10px; // Reduce el margen izquierdo
      font-size: 0.8rem; // Ajusta el tamaño de la fuente
    }

    ul, ol {
      margin-left: 10px; // Reduce el margen izquierdo
      padding-left: 10px; // Reduce el padding
    }
  }
  .capacitaciones {
  padding: 1rem; // Reduce el padding en celulares
  p {
    font-size: 0.8rem; // Ajusta el tamaño de la fuente
  }
  .curso-lista, .certificacion-detalles {
    margin-left: 0.5rem; // Reduce el margen izquierdo
    padding-left: 0.5rem; // Ajusta el padding
  }
  .curso-lista li, .certificacion-detalles li {
    font-size: 0.8rem; // Ajusta el tamaño de la fuente
  }
  }
  .contact {
    padding: 1rem; // Reduce aún más el padding
    display: block;


    &__form {
      max-width: 100%; // El formulario ocupa todo el ancho disponible
      padding: 0;
    }

    &__info {
      padding-top: 1.8rem;
      .contact__logo {
        display: none;
      }
      h2{
        display: none;
      }

      ul {
        padding: 0;
      }

      li {
        font-size: 0.8rem; // Ajusta el tamaño de la fuente
      }
    }
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00395a;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler {
    z-index: 1100;
    background-color: $color-azul-secundario;
    
  }
  button.navbar-toggler:hover {
    background-color: $color-azul-secundario;
    color: $color-azul-principal;
  }
  .dropdown-menu {
    display: contents;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
  }


  .nav-item a {
    font-size: 1.1rem;
    color: $text-color;
  }
  header ul li:hover ul {
    text-align: start;
  }
  .logo {
    height: 4vh; // Reduce aún más el tamaño del logo
  }
  
  .barra__redes a {
  font-size: 1.4rem; 
  margin: 0 5px; 
  }
  .barra__texto {
  font-size: 1.2rem; 
  }
  .footer{
    &__top {
    padding: 0 1rem; 
    flex-direction: column;
    align-items: center; 
    }   
    &__logo {
    margin-bottom: 1rem; 
    }   
    &__social {
    margin-bottom: 1rem; 
    a {
      font-size: 20px; 
      margin: 0 5px; 
      }   
    }  
    &__section { 
      h4 {
        font-size: 11px; 
        text-align: center;
      }
      span {
        font-size: 11px; 
        text-align: center;
        justify-content: center;
      }
    } 
    &__bottom {
    font-size: 10px; 
    }
  }
  .chat {
  width: 45px;
  height: 45px;
  }
  button {
    padding: 0.3rem 0.6rem;
  }
  .button__ambulancia button {
  font-size: 1.2rem; // Tamaño de fuente del botón en .button__ambulancia
  padding: 0.6rem 1.2rem; // Ajusta el padding del botón en .button__ambulancia
  }
  .slider {
    width: 100%; // Ajusta el ancho del slider
    height: 40vh; // Ajusta la altura del slider

    .slides .slide .content {
      margin: 0 2rem 0 2rem; // Ajusta el margen del contenido
      h3 {
        font-size: 1.3rem; // Tamaño de fuente para pantallas pequeñas
      }
    }
  }
  .banner {
    width: 100%; // Ajusta el ancho del slider
    height: 40vh; // Ajusta la altura del slider
    &__title {
      font-size: 1.8rem; // Tamaño de fuente para pantallas pequeñas
    }
    &__subtitle {
      font-size: 1.1rem;
    }
  }
}

@media print {
p, h1, h2, h3, h4, h5, h6{
    color: black;
    background-color: white;
}
}