//color
$color-rojo: #c41718;
$color-azul-principal: #00395a;
$color-azul-secundario: #008ad1;
$color-azul-terciario: #9fd7f5;
$color-negro: #000000;

//font
$font-family: "Medical Sur";
$font-size: 1rem;

//fondo
$fondo-header: #00395a;
$background-form: #008ad1;

//boton
$button: #00395a;
$button-hover: #c41718;

// Ancho
$ancho: 21.87rem;
$alto: 15rem;
$img-cards: 16rem;

// Texto
$text-color: #fff;

// banner
$slider-height: 450px;
$slider-width: 100%;
$transition-time: 1s;
$overlay-color: rgba(0, 0, 0, 0.5);
