//color
$color-rojo: #c41718;
$color-azul-principal: #00395a;
$color-azul-secundario: #008ad1;
$color-azul-terciario: #9fd7f5;
$color-negro: #000000;

//font
$font-family: "Medical Sur";
$font-size: 1rem;

//fondo
$fondo-header: #000000;
$background-form: #008ad1;

//boton
$button: #00395a;
$button-hover: #c41718;

// Ancho
$ancho: 21.87rem;
$alto: 15rem;
$img-cards: 20rem;