@import 'variables';
@import 'header';
@import 'footer';
@import 'button';
@import 'banners';

@font-face {
    font-family: "Medical Sur";
    src: url("../tipografia/latha.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    font-family: $font-family;
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

a {
    text-decoration: none; 
}

li {
    list-style-type: none;
    padding: 0.5rem;
    position: relative;
    font-size: 0.87rem; 
}

.italic{
    font-style: italic;
}

.section{
    justify-content: center;
    padding-top: 0.31rem;
    &__container{
        margin: 2rem 10rem 2rem 10rem;
    }
}

.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.intro{
    img{
        padding-bottom: 2rem;
        width: $img-cards;
    }
}

/*Misión, Visión, Valores*/
.mvv{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  
    &__card {
      padding: 1.5rem;
      border-radius: 3.5px;
      border: 2.5px solid $color-azul-secundario;
      text-align: center;
      width: 30%;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      }
  
      &-logo {
        margin-bottom: 1rem;
  
        img {
          width: 50px;
          height: 50px;
          transition: transform 0.3s ease-in-out;

          &:hover {
           transform: rotate(360deg); // Rotación del logo al pasar el mouse
           }
        }
      }
  
    }
}
  
.contacto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:"contacto__form contacto__container"; 
    align-items: center;
    gap: 1rem;
    margin: 3rem;
    &__form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-area: contacto__form;
        gap: 0.63rem;
        padding: 1rem;
        border-radius: 0.43rem;
        background-image: $background-form;
    }
    &__container{
        grid-area: contacto__container;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    &__datos{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:"contacto__img contacto__info"; 
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    &__img{
        grid-area: contacto__img;
        height: 20vh;
        border-radius: 1rem;
    }
    &__info{
        grid-area: contacto__info;
    }
}

/*servicios en página de inicio */
.servicios{
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
                            "servicios__uno servicios__dos servicios__tres servicios__cuatro servicios__cinco" 
                            "servicios__seis servicios__siete servicios__ocho servicios__nueve servicios__diez";
        gap: 1rem;
        margin: 2rem;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        color: white;
    }
    &__uno{
        grid-area: servicios__uno;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img//medical1.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__dos{
        grid-area: servicios__dos;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/medical2.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__tres{
        grid-area: servicios__tres;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/medical7.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__cuatro{
        grid-area: servicios__cuatro;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image0.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__cinco{
        grid-area: servicios__cinco;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image1.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__seis{
        grid-area: servicios__seis;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/medical6.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__siete{
        grid-area: servicios__siete;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image2.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__ocho{
        grid-area: servicios__ocho;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image3.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__nueve{
        grid-area: servicios__nueve;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image4.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
    &__diez{
        grid-area: servicios__diez;
        background-image: linear-gradient(to right, rgba(158, 180, 198, 0.4), rgba(148, 153, 159, 0.764)), url("../recursos/img/image5.jpeg");
        background-size: cover;
        border-radius: 1rem;
        border: 1px solid $color-azul-terciario;
    }
}

.cards{ /*servicios */
    width: $img-cards;
    border-radius: 0.50rem;
}


@import 'mediaqueries';